/* the app core */
:root {
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;

  --red: #BF2C23;
  --yellow: #E0B833;
  --light-yellow: #F8CF47;
  --dark-blue: #285DAB;
  --light-blue: #2B6DB1;
  --dark-grey: #666666;
  --grey: #DDDDDD;
  --light-grey: #F0F0F0;
  --white: #FFFFFF;
  --black: #111111;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app-content {
  flex: 1;
  padding: 2vw 15vw;
}

.navbar {
    background-color: var(--light-yellow);
    width: 100%;
    padding:  10px 35px;
}

.logo {
  width:45px;
  height: 45px;
}

.footer {
  background-color: var(--light-blue);
  width: 100%;
  min-height: 45px
}

/* standard */
.standardContainer {
  margin-top: var(--md);
}

/* header */
.header {
  font-size: 24px;
  font-weight: bold;
}

/* search */
.searchInput {
  border-radius: var(--lg);
  border: var(--light-grey) 2px solid;
  padding: var(--md)
}

.searchIcon {
  fill: var(--light-blue);
}

.standardSelect {
  border-radius: var(--lg);
  border: var(--light-grey) 2px solid;
  padding: var(--sm);
  margin-right: var(--sm);
}






