/* the app core */
:root {
  --xs: 4px;
  --sm: 8px;
  --md: 16px;
  --lg: 24px;
  --xl: 32px;

  --red: #BF2C23;
  --yellow: #E0B833;
  --light-yellow: #F8CF47;
  --dark-blue: #285DAB;
  --light-blue: #2B6DB1;
  --dark-grey: #666666;
  --grey: #DDDDDD;
  --light-grey: #F0F0F0;
  --white: #FFFFFF;
  --black: #111111;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#app-content {
  flex: 1;
  padding: 2vw 16vw;
}

.navbar {
    background-color: var(--light-yellow);
    padding:  10px 45px;
}

.navbar__logo {
  width:45px;
  height: 45px;
}

.footer {
  background-color: var(--light-blue);
  width: 100%;
  min-height: 45px;
  margin-top: 55px;
}

/* layout */
.standard-margin-top {
  margin-top: var(--md);
}

.big-margin-top {
  margin-top: var(--xl);
}

.image-cover {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

.width-sm {
  width: 20%;
}

.width-md {
  width: 50%;
}

.width-lg {
  width: 70%;
}

/* text */
.header {
  font-size: 24px;
  font-weight: bold;
}

.subheader {
  font-size: 18px;
  font-weight: bold;
}

.title {
  font-size: 14px;
  font-weight: bold;
}

/* search */
.search-input {
  border: none;
  outline: none;
  margin-left: 10px;
  width: auto;
  border: none;
  width: 30%;
}

.search-input__container {
  width: 50%;
  border-radius: var(--lg);
  border: var(--light-grey) 2px solid;
  padding: var(--md)
}

.standard-select {
  border-radius: var(--lg);
  border: var(--light-grey) 2px solid;
  padding: var(--sm);
  margin-right: var(--sm);
  width: auto;
  color: var(--dark-grey);
  cursor: pointer;
}

/* buttons */
button {
  cursor: pointer;
}

.pet-button {
  border-radius: var(--lg);
  border: none;
  background-color: var(--light-blue);
  color: var( --white);
  width: 30%;
  padding: var(--sm);
}

.pet-button:hover {
  background-color: var(--dark-blue);
}

.grey-button {
  margin-top: var(--lg);
  border-radius: var(--lg);
  background-color: var(--light-grey);
  padding: var(--sm);
  border: none;
}

.grey-button:hover {
  background-color: var(--grey);
}

.button-icon {
  width: 24px;
  height: 24px;
  margin-left: 8px;
  display: none;
}

.see-more-button {
  margin-top: var(--lg);
  border-radius: var(--lg);
  background-color: var(--light-grey);
  padding: var(--sm);
  border: none;
}

.see-more-button:hover {
  background-color: var(--grey);
}

.latest-button {
  border-radius: var(--lg);
  border: var(--light-grey) 2px solid;
  background-color: var(--white);
  padding: var(--sm);
  margin-right: var(--sm);
  width: auto;
  color: var(--dark-grey)
}

.latest-button:hover {
  background-color: var(--grey);
}

.action-button {
  margin-top: var(--lg);
  border-radius: var(--lg);
  border: none;
  background-color: var(--light-yellow);
  color: var(--black);
  padding: var(--sm);
}

.action-button:hover {
  background-color: var(--yellow);
}

/* list */
.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  padding: 0px;
}

.see-more-section { 
  margin-top: var(--lg);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* pet card */
.pet-image__container {
  width: 320px;
  height: 250px;
  border-radius: var(--lg);
  overflow: hidden;
}

.pet-image {
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}

/* popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background: white;
  width: 60%;
  height: 70%;
  border-radius: var(--lg);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
}

.popup-left__container {
  width: 60%; 
  border-radius: var(--lg) 0px 0px var(--lg);
  overflow: hidden;
}

.popup-right__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;  
  background-color: var(--light-blue);
  color: var(--light-grey);
  border-radius: 0px var(--lg) var(--lg) 0px;
  padding: var(--lg);
}

.popup__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* directory */
.directory {
  display: flex;
  flex-direction: row;
}

.directory-left__container {
  max-height: 40vh;
  border-radius: var(--lg) 0px 0px var(--lg);
  overflow: hidden;
}

.directory-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto; 
  max-height: 40vh;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 0px var(--lg) var(--lg) 0px;
  padding: var(--lg);
}

/* categories */
.category__background {
  border-radius: var(--lg);
  height: 100%; 
  width: 170px;
  text-align: center;
  background-color: var(--light-grey);
}

.category__icon {
  height: 45px;
  position: relative;
  top: -15px; 
}

/* mobile */
@media screen and (max-width: 600px) {
  #app-content {
    padding: 2vw 5vw;
  }

  .navbar {
    background-color: var(--white);
  }

  .search-input__container {
      width: 90%;
      border: none;
      background-color: var(--grey);
  }

  .pet-card__container {
    width: 100%; 
  }

  .search-input {
    background-color: var(--grey);
  }

  .pet-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .pet-image__container {
    width: 250px;
    height: 180px;
    border-radius: var(--lg);
    overflow: hidden;
  }

  .pet-button {
    height: 43px;
    width: 43px;
    display: flex;
    padding-right: 15px;
    justify-content: center;
  }

  .button-text__mobile {
    display: none; 
  }

  .button-icon {
    display: inline-block;
  }

  .directory {
    flex-direction: column-reverse;
    margin-left: -8vw; 
    margin-right: -8vw; 
  }

  .description {
    display: none; 
  }

  .grey-button {
    margin-top: 5px;
    width: auto;
    background-color: var(--light-blue);
  }

  .directory-left__container { 
    border-radius: 0px 0px 0px 0px;
    height: 150px;
    width: 100%;
  }

  .directory-right {
    height: 25px;
    padding-left: 15vw;
    padding-right: 15vw;
    border-radius: 0px 0px 0px 0px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: auto; 
  }

  .category__background {
    height: 45px;
  }

  .latest-button {
    border-radius: var(--lg);
    border: var(--light-grey) 2px solid;
    background-color: var(--white);
    padding: var(--sm);
    margin-right: var(--sm);
    color: var(--dark-grey)
  }

  .popup {
    width: 90%;
    height: 60%;
  }

  .popup-right__container {
    max-height: 100%;
    overflow-y: auto;
  }

  .action-button {
    width: 40%;
  }
}





